body {
	background-color: #fff;
}

header {
	text-align: center;
	margin-top: 20px;
}

.nav {
	padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
	padding: 10px;
}

h1,h2,h3,h4,h5,a,p {
	display: inline;
	font-family: helvetica;
	font-weight: lighter;
	font-size: 13px;
}

#content-zone {
	text-align: center;
}

.frame {
	border: white solid 3px;
	z-index: 50;
	position: relative;
}

.text-frame{
	font-size: 11px;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
	font-style: italic;
}

/*iframe {
	margin-top: -5px;
	margin-bottom: -10px;
	z-index: 0;
}*/

.video-frame{width:838px; height:459px; overflow:hidden; margin:0 auto;} .vimeoFrame .vimeoXtra {margin-top:-100px;}

.vimeo {display:block; width:838px; height:838px; margin-top: -190px;}

