body {
	background-color: #fff;
}

header {
	text-align: center;
	margin-top: 20px;
}

.nav {
	padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
	padding: 10px;
	//text-decoration: underline;
}

a:hover{
	cursor:pointer;
}

h1,h2,h3,h4,h5,a,p {
	display: inline;
	font-family: helvetica;
	font-weight: lighter;
	font-size: 11px;
}

#content-zone {
	text-align: center;
}

.base-text {
}

.frame {
	border: white solid 3px;
	position: relative;
}

.text{
	font-size: 11px;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
	font-style: italic;
	position: absolute;
	margin-top: -300px;
	margin-left: 250px;
	max-width: 650px;
}



.image-frame{
	width:838px; 
	height:459px; 
	margin:0 auto;
} 

.imageFrame .imageXtra {margin-top:-100px;}

.image {
	display:block; 
	position: relative; 
	width:438px; 
	height:438px; 
	float: center; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: -200px;
}

.pair{
	margin-top: 300px;
}

